/*CSS styling goes here*/
#main {
  border: 5px red solid;
  width:1400px;
  display:inline-block;
}

.sNote {
  width:200px;
  height:200px;
  background:yellow;
  border:1px black solid;
  display:inline-block;
  margin: 25px 0 25px 25px;
  word-wrap:break-word;
  overflow:auto;
  text-align:left;
}

.sNoteText {
  border-bottom:1px black solid;
  font-size:20px;
  padding:none;
  margin-top:-4px;
}

.noteRemove {
  display:block;
  font-size:28px;
  text-align:right;
  margin-top:-10px;
}
